{% extends 'base.html' %}

{% block title %}
Tourism-MGMT-Booking
{% endblock %}

{% block style %} 
<style>
p {
  color: #999; /* Or any other lighter color you prefer */
  text-align: right;
}
</style>

{% endblock %}

{% block content %}
{% load cart %}
{% load custom_filter %}

{% if message %}
<div class="alert alert-{% if error %}danger{% else %}success{% endif %} alert-dismissible fade show" role="alert">
  {{message}}
</div>
{% endif %}

<div class="container">
  <div class="border rounded p-4 m-4">
    <p class="display-4 pl-4 ml-4">Your Bookings</p>
    <hr>
    <form id="traveldateForm" method="POST" action="{% url 'checkout' %}">
      {% csrf_token %}
      <table class="table">
        <thead>
          <tr>
            <th>Sno.</th>
            <th>Image</th>
            <th>Package</th>
            <th>Price</th>
            <th>Durations</th>
            <th>People</th>
            <th>Total</th>
            <th>Travel Date</th>
          </tr>
        </thead>
        <tbody>
          {% for package in packages %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td><img style="height: 80px;" class="rounded-circle" src="{{package.image.url}}" alt=""></td>
            <td>{{package.name}}</td>
            <td>{{package.price|currency}}</td>
            <td>{{package.duration}}</td>
            <td>{{package|cart_quantity:request.session.cart}}</td>
            <td>{{package|price_total:request.session.cart|currency}}</td>
            <td>
              <input type="date" class="traveldate form-control" name="traveldate{{package.id}}" required>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4"></th>
            <th class="" colspan="">Total</th>
            <th>{{packages|total_cart_price:request.session.cart|currency}}</th>
          </tr>
        </tfoot>
      </table>
      <hr>
      {% if packages %}
      <div class="form-row">
        <div class="col-md-6">
      <input type="text" class=" form-control" name="remark" placeholder="Remarks" required>
    </div>
    <div class="col-md-6">
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter phone number" required pattern="(\+?\d{10,})">
        </div>
        </div>
         <p>Phone number must be at least 10 digits long and can start with '+'.</p>
        {% endif %}
      <div class="m-3 p-3">
        <button type="submit" class="btn btn-outline-info border rounded  col-lg-3 float-right">Book Now</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var today = new Date().toISOString().split('T')[0];
    var inputs = document.querySelectorAll('.traveldate');

    inputs.forEach(function (input) {
      input.setAttribute('min', today);
      input.setAttribute('value', today); // Set default value to current date
    });
  });
</script>

{% endblock %}
